table tr {
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}
button.btn {
    padding: 0;
    vertical-align: middle;
    margin-left: 0.5em;
    visibility: collapse;
    width: 2em;
} 
.btn img {
    height: 2em;
} 
